/* cards de noticias normais */
.cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 0.9375rem;
}
.cards img {
    border: none;
}
.cards h5 {
    font-size: 0.75rem;
}

.cards a, .cards h5 {
    margin-top: 0;
}

/* main card */
.cards > *:first-child {
    background: rgb(5, 5, 177);
    border: none;
    width: 16.25rem;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    grid-row: 1/3;
    align-content: space-between;
}

.cards > *:first-child img {
  height: 50vh;
  width: auto;
}
.cards > *:first-child h5 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 0.9375rem;
}
.cards > *:first-child a {
    background: orange;
    color: blue;
}


@media (max-width: 768px) { 
    .news {
        margin-top: 1.25rem;
    }
    .cards {
        grid-template-columns: 1fr 1fr;
        gap: 0.625rem;
        margin-top: 1.25rem;
    }
    
    .cards > *:first-child {
        display: none;
    }
}

@media (max-width: 576px) { 
    .news {
        margin-top: 0.625rem;
    }
    .cards {
        grid-template-columns: 1fr;
        gap: 0.625rem;
    }

    .cards > *:first-child {
        display: none;
      }
}